<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Halo World┌(*>A<)┘ ♪♩✰</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Welcome to my たんちroomヾ(*´꒳​`*ヽ))<br>わくわく始めのプログラミング<br>RailsGirls17₍₍ (ง ´・ω・｀ )ว ⁾⁾♪⁽⁽<br> ◝( *˃̶͈̀ᗜ˂̶͈́)◟ (ว¯ᗜ¯)ง (ง*˃̶͈̀ᗜ˂̶͈́)ว♪</p>
  </div>
</div>